@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{ margin: 0; padding: 0; font-family: 'IBMPlexSansKR-Regular';}
*,*::before,*::after{box-sizing:border-box;}
ul,li{ list-style: none;}
a{ text-decoration: none;}
.h1, .h2, .h3, h1, h2, h3 {margin-top: 0px !important;margin-bottom: 0px !important;}
input{outline: none;}
html{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
/*공통*/

[class$="pc"]{ display:flex;}
[class$="mobile"]{ display: none;}
.container{
    position: relative;
    width: 100%;
    height: auto;
}
[class^="header"]{
    width: 100%;
    height: 100px;
    padding: 0 40px;
    background-color: #fff;
    box-shadow: 0 3px 12px 0 rgb(136 136 136 / 18%);
    position: fixed;
    top: 0;
    left:0;
    z-index:999;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
}
[class^="header"] > h1.logo a{
    display: inline-block;
    color: #000;
    line-height:100px;
    font-size: 21px;
    padding: 0 25px;
}
[class$="nav"]{
    flex:1;
}
[class$="nav"] > ul > li{
    display: inline-block;
    line-height:100px;
    padding: 0 25px;
}
[class$="nav"] > ul > li > a{
    display: block;
    color: #000;
}
[class$="user"] {
    position: absolute;
    top: 30px;
    right: 40px;
}
[class$="user"] > button{
    min-width: 120px;
    height: 40px;
    cursor: pointer;
    background: #fff;
}
[class$="user"] > button:first-of-type{
    border: 1px solid #0082fc;
    color: #0082fc;
}
[class$="user"] > button:last-of-type{
    border: 1px solid #0082fc;
    background-color: #0082fc;
    color: #fff;
}
.burger-nav > .burgers-navInner{
    position: relative;
    width: 100%;
    height: 100vh;
}

footer{
    background-color: #0082fc;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
footer > p{ 
    text-align: center; 
    line-height: 50px; 
    font-size: 17px;
    color: #fff;
}
/*회원가입*/
[class^="wrap-"]{
    position: relative;
    padding: 150px 0 100px;
}
.innner-signUp{
    min-width: 280px;
    width: 100%;
}
[class^="innner-"] > .title{
    text-align: center;
    padding: 10px 0 50px;
}
.innner-signUp{
    padding: 70px;
    max-width: 1200px;
    margin: 0 auto;
}
.box-signUp{
    display: flex;
    justify-content: center;
}
.box-signUp > div{
    width: 100%;
}
.box-signUp> div + div{ 
    border-left: 1px solid #e1e1e1;
}
.input-box{ padding: 0 40px;}
.input-box > input{
    min-width: 100%;
    width:100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    height: 52px;
    margin-top: 10px;
    padding: 0 10px;
    font-size: 15px;
    border: 1px solid #ddd;
}
.terms{
    padding:0 45px;
}
.terms .checkAll-input{
    width: 100%;
    height: 52px;
    background-color: rgb(29, 149, 230);
    color: #fff;
    padding: 0 10px;
    line-height: 50px;
}
.term_cont{
    padding: 30px 10px;
    background-color: #dbe6f0;
}
.term_cont > span{
    display: block;
    padding-bottom: 15px;
}
.term_cont > span:last-of-type{
    color: #326696;
    font-weight: bold;
}
.term_cont > div{ margin-top: 10px;}
button[type="submit"]{
    width: 100%;
    border: 1px solid rgb(29, 149, 230);
    background-color: #fff;
    color: rgb(29, 149, 230);
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
[value="joinGo"]{
    width: 100%;
    border: 1px solid rgb(29, 149, 230);
    background-color: rgb(29, 149, 230);
    color: #fff;
    height: 62px;
    cursor: pointer;
    font-size: 16px;
}
input[type="password"]{ color: #000 !important;} 
.discord{
     border: 1px solid red !important; 
     background-color: #ffc8c8; 
     animation: discordShake 0.1s;
     animation-iteration-count: 5;
     position: relative;
}
.same{border: 1px solid #0082fc !important;background-color: #fff;}
@keyframes discordShake{
    0%{transform: translate(1.5px, 0px) rotate(0deg);}
    100%{transform: translate(-1.5px, 0px) rotate(0deg);}
}
.modal-link{
    position:fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
}
.modal-link > .modal-linkbox{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.modal-link > .modal-linkbox > .modal-this{
    width: 620px;
    height: auto;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: none;
    opacity: 0;
    transition: all 0.4s;
    
}
.modal-link > .modal-linkbox > .modal-this.ani{
    animation: modalBounce 0.5s ease-in-out;
    display: block;
    opacity: 1;
}
@keyframes modalBounce{
    0%{transform: translate(-50%, -80%);}
    100%{transform: translate(-50%, -50%);}
}
.modal-link > .modal-linkbox > .modal-this > .modal-title{
    font-size: 21px;
    background: #0082fc;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    position: relative;
}
.modal-link > .modal-linkbox > .modal-this > .modal-title > span{
    position: absolute;
    font-size: 24px;
    display: inline-block;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    cursor: pointer;
}
.modal-link > .modal-linkbox > .modal-this > .modal-content{
    padding: 15px;
}

/*회원가입 완료*/
.sign-comp{
    width: 100vw;
    height: 100vh;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    transform-origin: center;
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
}
[class$="comptit"]{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: #fff;
}
[class$="signCom"]{
    padding: 0px 0 0px !important;
}
.sign-bubble{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
.bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 1);
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
  .bubbles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0;
  }
  
  .bubbles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .bubbles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 12s;
  }
  
  .bubbles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .bubbles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .bubbles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  
  .bubbles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .bubbles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .bubbles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  @keyframes animate {
    0% {
      -webkit-transform: translateY(0) rotate(0deg);
      -ms-transform: translateY(0) rotate(0deg);
      -o-transform: translateY(0) rotate(0deg);
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 40%;
    }
    100% {
      -webkit-transform: translateY(-1000px) rotate(720deg);
      -ms-transform: translateY(-1000px) rotate(720deg);
      -o-transform: translateY(-1000px) rotate(720deg);
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }
footer.fot{
    margin-top: 0;
}
/*로그인*/
.input-box > input{ height: 60px; font-size: 18px;}
.id_save > label{ margin-left: 5px; cursor: pointer;}
.id_save{ margin-top: 10px;}
button[type="submit"].btn-login{ height: 60px; margin-top: 20px;}
[class^="list-"]{
    display: flex;
    margin: 25px 0 35px;
    align-items: center;
    justify-content: center;
}
[class^="list-"] li a{ display: block; color: #000;}
[class^="list-"] li + *{
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
}
.list-find li + *::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 12px;
    border-left: 1px solid #aaa;
}
.login_img{ 
    background: #0b1f31; 
    display: flex;
    justify-content: center;
}
.login_img > img{
    width: 350px;

}
.login_txt > p{
    font-size: 16px;
    padding: 20px 0 10px;
}
.another-login{
    position: relative;
    display: flex;
    margin-bottom: 25px;
    align-items: center;
    color: #0082fc;
}
.another-login::before{
    content: '';
    display: inline-block;
    width: 35%;
    margin-right: 16px;
    border-bottom: 1px solid #ddd;
}
.another-login::after{
    content: '';
    display: inline-block;
    width: 35%;
    margin-left: 16px;
    border-bottom: 1px solid #ddd;
}
[class$="sns"] > li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
[class$="sns"] > li> a{
    color: #fff;
    font-size: 10px;
    display: block;
}
[class$="sns"] > li:first-of-type {
    border: 1px solid orange;
    background:orange;
}
[class$="sns"] > li:last-of-type {
    border: 1px solid rgb(25, 104, 207);
    background: rgb(25, 104, 207);
}
[class^="find-"]{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0 auto;
    padding: 20px 45px;
    max-width: 600px;
    height: 350px;
}
.idfind_nav{
    margin-bottom: 20px;
    border-bottom: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.idfind_nav > li{
    flex: 0 0 50%;
    max-width: 50%;
    border-bottom: 1px solid #fff;
}
.idfind_nav > li > a{
    width: 100%;
    display:block;
    text-align: center;
    color: #000;
    font-size:18px;
    padding:15px;
}
.idfind_nav > li.active > a{
    border:1px solid #0082fc;
    color: #0082fc;
    border-bottom:0px;
    text-decoration: none;
}
.tab-content{
    position:relative;
}
.tab-content> div{
    position:absolute;
    width:100%;
    display: none;
}
.tab-content> div > form > div{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.email_box > input{
    height: 60px;
    background: #fff;
    border-color: #ccc;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0 10px;
    flex: 1;
}
.email_box > select{
    height: 60px;
    border-color: #ccc;
    margin-right: 0 !important;
}
.email_box:last-of-type{ 
    line-height: 60px;
    flex: 1;
    display:flex;
}
.email_box:last-of-type > input{
    margin-left: -1px;
    margin-right: -1px;
}
.tab-content> div > form > div > input{
    height: 60px;
    background: #fff;
    border-color: #ccc;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0 10px;
}
.tab-content> div > form > div > input::placeholder{
    font-size:16px;
}


/*비밀번호 찾기*/
.member_type{
    width:100%;
}
.member_type > select{
    width: 100%;
    height: 60px;
    border: 1px solid #ddd;
    outline: 0;
    padding: 0 10px;
}
.member_type > select > option[value="1"]{ color: #ddd;}
/* .member_type > select {
    -webkit-appearance:none; 
    -moz-appearance:none; 
    appearance:none;
 }
 
.member_type > select::-ms-expand{
    display:none;
 } */
 
/*달력*/
.innner-calendar{
    padding: 0;
    max-width:1200px;
    margin: 0 auto;
}
.rap {
    width: 100%;
    margin: 60px auto;
  }
  
  .date_head {
    margin-bottom: 10px;
  }
  
  .date_head > div {
    background: #02519c;
    color: #fff;
    text-align: center;
  }
  
  .date_form {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3px;
  }
  
  .date_form > div {
    width: 160px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dateSel > div {
    font-weight: bold;
    color: #333;
    min-height: 150px;
    padding: 16px 20px;
    border-radius: 10px;
    border: 1px solid #f7f7f7;
  }
  
  .background {
    background: #f7f7f7;
  }


/*탭 안에 슬라이드*/
.outer{
    padding-top: 150px;
    width: 100%;
    height: 100vh;
}
.outer > .buttons{
    display: table;
    margin: 0 auto;

}
.outer > .buttons > button:nth-of-type(2){
    margin-left: -1px;
    margin-right: -1px;
}
.tabs {
    padding-top:50px;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

button {
    width:150px;
    height:30px;
    font-size:16px;
    display:inline-block;
    color:#000;
    background-color: #fff;
    border: 1px solid rgb(6, 127, 240);

}

button.active {
    background-color:rgb(6, 127, 240);
    color: #fff;
}

.slider {
    width:100%;
    height:400px;
}

.item {
    height:400px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0px solid #000;
    position: relative;
}
.item > .itemBox{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#slider-box{ overflow:hidden;}
#slider-box > ul > li{
    float: left;
    width: 250px;
    height: 250px;
    
    background: gold;
}
#slider-box > ul > li:nth-last-of-type(2n){
    background: #0082fc;
}


#slider-box{
    height: 60px;
    width:100%;
    position: absolute;
    overflow: hidden;
}
#slider-box > ul > li{
    height: 45px;
    position: absolute;
}















/*반응형 시작*/
@media (max-width: 1024px){
    [class$="pc"]{ display: none;}
    [class$="mobile"]{ display: block;}
    .head-mobile{
        width: 100%;
        height: 100px;
        padding: 0 40px;
        background-color: #fff;
        box-shadow: 0 3px 12px 0 rgb(136 136 136 / 18%);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        border-bottom: 1px solid #e6e6e6;
    }
    .mobile-wrap{
        width: 100%;
        height: 100%;
        line-height: 100px;
    }
    [class^="header"] > h1.logo{
        flex: 1;
    }
    [class^="header"] > h1.logo a{
        text-align: center;
        width: 100%;
    }
    .mobile-bur{
        position: absolute;
        right: 30px;
        z-index:9999;
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        cursor: pointer;
    }
    .mobile-bur > span{
        display: block;
        width: 30px;
        height: 3px;
        background: #0082fc;
        margin-top: 5px;
    }
    .mobile-close{
        position: absolute;
        right: 30px;
        z-index:99999999;
        width: 30px;
        height: 30px;
        top: 25px;
        overflow: hidden;
        cursor: pointer;
    }
    .mobile-close > span{
        display: block;
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 30px;
        transform-origin: center center;
        position: inherit;
        top: 10px;
    }
    .mobile-close > span:first-of-type{
        transform: rotate(-45deg);
    }
    .mobile-close > span:last-of-type{
        transform: rotate(45deg);
    }     
    .box-signUp{
        display: block;
    }
    .box-signUp> div + div{
        border-left: 0px;
    }
    .terms{
        padding: 50px 40px 0;
    }
    .mobile-container{
        position: fixed;
        min-width: 280px;
        right:-99999px;
        height: 100%;
        background-color: #fff;
        z-index: 99999;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    
    .mobile-container > .logom > a{
        color: #fff;
        text-align: center;
        display: block;
        padding: 20px 0;
        font-size: 21px;
        background: #0082fc;
    }
    .mobile-conBg{
        background: rgba(0, 0, 0, 0.5);
        z-index: 99998;
        position: fixed;
        min-width: 280px;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: none;
    }
    [class^="paymentm"] > ul > li{
        display: block;
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #eee;
    }
    [class^="paymentm2"]{
        position: relative;
        width: 100%;
        right:-20px;
    }
    .modal-link > .modal-linkbox > .modal-this{
        min-width: 270px;
        width: 80%;
        
    }
    .terms.logBgs{ padding: 50px 0 0;}
    .another-login{justify-content: center;}
    .another-login::before{ width:15%;}
    .another-login::after{ width:15%;}
}
@media (max-width: 710px){
    [class^="find-"]{
        height: 400px;
    }
    .email_box:first-of-type{
        display: block;
        width: 100%;
    }
    .email_box > input{
        width:100%;
        margin-bottom:10px;
    }
}
@media (max-width: 625px){
    .innner-signUp{ padding: 70px 25px;}
    [class^="innner-"] > .title{ font-size: 24px;}
    .login_img > img{ width:280px;}
}
@media (max-width: 425px){
    .innner-signUp{ padding: 40px 15px;}
    [class^="innner-"] > .title{ font-size: 24px;}
    
    .terms{padding:20px 0;}
    [class^="wrap-"]{
        padding: 150px 0 0;
    }
    [class^="list-"] li a {
        font-size:14px;
    }
    .login_img > img{ width:240px;}
    .idfind_nav > li > a{
        font-size: 14px;
        padding: 8px;
    }
    .input-box > input{ font-size:14px;}
    input::placeholder{
        font-size:13px;
    }
    [class^="find-"]{
        padding: 20px 15px;
    }
    .input-box{ padding: 0 15px;}
}


/*달력*/
.calendarWrap{
    width:100%;
    height:100%;
    margin: 0 auto;
    background: #829db4;
    padding: 15px;
    display: block;
}
.calendarWrap > .calendar-date{
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: relative;
    background: #fff;
}
.calendarWrap > .calendar-date > .date-wrap{
    padding: 15px;
}
.calendarWrap > .calendar-date > .date-wrap > ul > li{
    display: inline-block;
}
.calendarWrap > .calendar-date > .date-wrap > ul > li > a{
    display: block;
    padding: 3px 5px;
    color: #0a2944;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    width: 70px;
}
.calendarWrap > .calendar-date > .date-wrap > ul > li.active > a{
    background-color: #0a2944;
    color: #fff;
}
.calendarWrap > .calendar-date > .date-search{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.calendarWrap > .calendar-date > .date-search > input{
    padding:7px 15px;
    outline: 0;
    border: 1px solid #ddd;
    width: 250px;
    height: auto;
    border-radius: 30px;
    font-size: 12px;
}
.calendar-box{ 
    width: 100%;
    display: flex;
}
.calendar-box > [class^="cdInner-"]{
    padding: 5px;
    background: #fff;
    display: inline-block;
    box-sizing: border-box;
}
.calendar-box > [class^="cdInner-"][class$="sm"]{
    width: 30%;
}
.calendar-box > [class^="cdInner-"][class$="lg"]{
    width: 70%;
    border-left: 1px solid #ddd;
}

.cdMini > table{
    width: 100%;
}
.cdMini > table caption{
    padding: 15px 0;
}
.cdMini > table caption > a{
    color: #333;
    display: inline-block;
}
.cdMini > table caption > a.cdMini-prev{
    width: 14px;
    height: 14px;
    background: #333;
    border-radius:100%;
    color: #fff;
    position: relative;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}

.cdMini > table caption > a.cdMini-next{
    width: 14px;
    height: 14px;
    background: #333;
    border-radius:100%;
    color: #fff;
    position: relative;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}
.cdMini > table th{
    font-size:13px;
    color: #333;
}
.cdMini > table td{
    text-align: center;
}
.cdMini > table th:first-of-type{
    color: #c72d2d;
}
.cdMini > table th:last-of-type{
    color: #2d5ec7;
}
.cdChoice{
    padding:25px;
}
.cdChoice > h1{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
button.cdChoice-btn{
    width:100%;
    display: block;
    border-radius: 50px;
    margin-top: 15px;
    height: 50px;
    border: 1px solid #ddd;
    opacity: 0.5;
    cursor: pointer;
}
button.cdChoice-btn.active{
    opacity:1;
    background: #3d5163;
}
.cdLarge > table {
    width: 100%;
    border-collapse: collapse;
}
.cdLarge tr > th{
    font-size: 14px;
    color: #a5a5a5;
    padding: 7px 0;
    border: 1px solid #ddd;
    background: #eee;
    font-weight: normal;
}
.cdLarge tr > td {
    height: 100px;
    border: 1px solid #ddd;
    background: #fafafa;
    position: relative;
}
.cdLarge tr > td > span{
    width: 100%;
    display: inline-block;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background: #fff;
}
.cdContent{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 35px 10px 10px;
}
.cdContent > .cdContentInner{
    width: 100%;
    height: 100%;
    position: relative;
}
.cdTable {
    width:500px;
    height: auto;
    padding: 7px;
    position: absolute;
    z-index: 50;
    background: #0a2944;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.cdTable-title{
    position: relative;
}
.cdTable-title > h1{
    font-size: 16px;
    display: inline-block;
    color: #fff;
    padding: 4px;
}
.cdTable-title > .cdTable-closed{
    position: absolute;
    width: 15px;
    height: 15px;
    color: #fff;
    line-height: 15px;
    display: inline-block;
    text-align: center;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.cdTable-inputBox > div{
    position: relative;
    margin-top: 10px;
}
.cdTable-inputBox > div > button{
    position: absolute;
    padding: 4px;
    background: #0a2944;
    color: #fff;
    border: 0px;
    outline: 0;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}
.cdTable-inputBox > div > input{
    width: 100%;
    padding: 7px;
    border: 1px solid #999;
    outline: 0;
}
.cdTable-info{
    padding: 40px 0 0px;
    font-size: 13px;
}
.color-gold{
    color: gold;
}
.cdTable-checkbox > div{
    width: 100%;
}
.cdTable-checkbox > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}
.cdTable-checkbox > div > input{
    padding: 7px;
}
.cdTable-checkbox > div > input[type="text"]{
    flex: 1;
    margin-left: 10px;
}
.cdTable-checkbox > div > input[type="checkbox"]:checked {
    background: #2aa1c0;
}
.cdTable-label .css-checkbox{
    display: none;
}
.cdTable-label .css-checkbox:checked + i{
    background: transparent;
    border:2px solid #fff;
}
.cdTable-label .css-checkbox:checked + i:after{
    opacity: 1;
    border-color: #fff;
}
.cdTable-label .css-checkbox + i {
    position: relative;
    display: inline-block;
    top: -1px;
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: bottom;
    border: 1px solid #999;
    transition: background 200ms ease;
    border-radius: 10em;
    border:2px solid #fff;
    background: transparent;
    font-size: 330px;
    cursor: pointer;
}
.cdTable-label .css-checkbox + i:after {
    content: "";
    opacity: 0;
    transform: translateZ(1px) rotate(-45deg);
    outline: 1px solid transparent;
    position: absolute;
    top: 22%;
    left: 15%;
    width: 15px;
    height: 6px; 
    border: 3px solid #222;
    border-top: none;
    border-right: none;
    background: rgba(0, 0, 0, 0);
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }
  
  .filebox label {
    display: inline-block;
    padding: 4px 7px;
    color: #0a2944;
    vertical-align: middle;
    background-color: #fafafa;
    cursor: pointer;
    border: 1px solid #fff;
    font-size: 14px;
  }
  .filebox .upload-name {
    display: inline-block;
    height: 30px;
    font-size:14px; 
    padding: 0 10px;
    vertical-align: middle;
    background-color: #0a2944;
    border: 0px solid #fff;
    border-radius: 0px;
    color: #fff;
    width: 82%;
    border-bottom: 1px solid #fff;
  }